workflows/openwebui_webhook_integration.json
{
  "name": "RIN - OpenWebUI Webhook Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openwebui-action",
        "options": {}
      },
      "name": "Webhook: Receive from OpenWebUI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "openwebui-action",
      "id": "webhook-receiver"
    },
    {
      "parameters": {
        "functionCode": "// Extract the action and payload from OpenWebUI\nconst data = $input.item.json.data || $input.item.json;\nconst action = data.action || 'unknown';\nconst payload = data.payload || data;\n\nreturn {\n  json: {\n    action: action,\n    payload: payload,\n    timestamp: new Date().toISOString(),\n    user: data.user || 'anonymous'\n  }\n};"
      },
      "name": "Parse Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "id": "parse-request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "research-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "research",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "notify-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "notify",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        650,
        300
      ],
      "id": "route-action"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response-status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "response-message",
              "name": "message",
              "value": "=Action '{{ $json.action }}' received and queued for processing",
              "type": "string"
            },
            {
              "id": "response-action",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        850,
        300
      ],
      "id": "format-response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1050,
        300
      ],
      "id": "send-response"
    }
  ],
  "connections": {
    "Webhook: Receive from OpenWebUI": {
      "main": [
        [
          {
            "node": "Parse Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Request": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "rin-openwebui-integration"
  }
}