workflows/slack_notification.json
{
  "name": "RIN - Slack Notification Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-notify",
        "options": {}
      },
      "name": "Webhook: Receive Notification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "slack-notify",
      "id": "webhook-slack"
    },
    {
      "parameters": {
        "functionCode": "// Parse notification data\nconst data = $input.item.json.data || $input.item.json;\n\nreturn {\n  json: {\n    channel: data.channel || '#general',\n    message: data.message || data.text || '',\n    username: 'RIN Intelligence Node',\n    icon_emoji: ':brain:',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "name": "Parse Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        300
      ],
      "id": "parse-notification"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.channel }}",
        "text": "={{ $json.message }}",
        "otherOptions": {
          "username": "={{ $json.username }}",
          "icon_emoji": "={{ $json.icon_emoji }}"
        }
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        650,
        300
      ],
      "id": "send-slack",
      "credentials": {
        "slackApi": {
          "id": "1",
          "name": "Slack Account"
        }
      },
      "notes": "Configure Slack credentials in n8n settings:\n- Settings > Credentials > Create New\n- Type: Slack API\n- Access Token: Create a Slack app and get OAuth token\n- Scopes needed: chat:write, channels:read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "=Notification sent to Slack channel {{ $json.channel }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        850,
        300
      ],
      "id": "format-response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {}
      },
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1050,
        300
      ],
      "id": "send-response"
    }
  ],
  "connections": {
    "Webhook: Receive Notification": {
      "main": [
        [
          {
            "node": "Parse Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notification": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "rin-slack-integration"
  }
}